.order {
    width: 500px;
    margin: 50px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order-img {
    width: 400px;
    height: 400px;
}

.order-details {
    width: 90%;
}

.order-size,
.order-filling,
.order-addition {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ece6e6;
}

.order-addition {
    grid-template-columns: 1fr 1fr
}

.order-total {
    width: 90%;
}